<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:www.dev.airsync.net/download</string>
		<string>applinks:www.dev.airsync.net</string>
		<string>applinks:www.airsync.net/download</string>
		<string>applinks:www.airsync.net</string>
		<string>applinks:www.stage.airsync.net/download</string>
		<string>applinks:www.stage.airsync.net</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.viewsonic.display.cast</string>
	</array>
</dict>
</plist>
